*.x
*.a
*.o
*.so
*.swp
*.rpm
usr
big
.glgrib_history
*.png
*.aux
*.log
*.mp4
.shaders
.*istory
share/shaders
attic
bin/*
lib/*
share/glgrib/shaders/*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/glgrib.substvars
debian/glgrib/
debian/glgrib-data.substvars
debian/glgrib-data/
debian/glgrib-doc.substvars
debian/glgrib-doc/
debian/glgrib-testdata.substvars
debian/glgrib-testdata/
debian/libglgrib.substvars
debian/libglgrib/

