*.x
*.a
*.o
*.so
*.swp
*.rpm
usr
big
.glgrib_history
*.png
*.aux
*.log
*.mp4
.shaders
.*istory
share/shaders
attic
bin/*
lib/*
share/glgrib/shaders/*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/glgrib/
debian/glgrib-data/
debian/glgrib-doc/
debian/glgrib-testdata/
debian/glgrib-egl/
debian/glgrib-glfw/
debian/glgrib-shaders/
debian/libglgrib0-egl/
debian/libglgrib0-glfw/
debian/liblfi0/

