#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/buildflags.mk

export DEB_CFLAGS=$(CFLAGS) $(CPPFLAGS)
export DEB_CXXFLAGS=$(CXXFLAGS) $(CPPFLAGS)
export DEB_LDFLAGS=$(LDFLAGS)

%:
	dh $@ 

override_dh_auto_install:
	./scripts/debian/install.pl 
	cd src/perl/glfw && make install 
	cd src/glGribTk && make install
	cd src/python3/glfw && make install
	./scripts/debian/cleanInstall.pl


