Source: glgrib-bin
Maintainer: Philippe Marguinaud <pmarguinaud@hotmail.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: g++ (>= 4:10.2.1), libcurl4-openssl-dev (>= 7.74.0), libeccodes-dev (>= 2.20.0), libegl-dev (>= 1.3.2), libglew-dev (>= 2.1.0), libglfw3-dev (>= 3.3.2), libglm-dev (>= 0.9.9.8+ds), libnetcdf-c++4-dev (>= 4.3.1), libpng-dev (>= 1.6.37), libreadline-dev (>= 8.1), libshp-dev (>= 1.5.0), libsqlite3-dev (>= 3.34.1), libssl-dev (>= 1.1.1n), make (>= 4.3), debhelper (>= 13), patchelf (>= 0.12), perl (>= 5.16)

Package: glgrib-bin
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Display geophysical fields encoded in GRIB edition 2 using OpenGL.
 Display GRIB2 fields with OpenGL. Raster, contour, vector, colorbar, mapscale,
 coastlines, borders. Lat/lon, lambert, gaussian grid. GLFW backend for 
 interactive display, EGL backend for batch processing without X11 display.
 Perl/Tk interface.
 Tested on :
  - VGA compatible controller: Intel Corporation Xeon E3-1200 v3/4th Gen Core 
 Processor Integrated Graphics Controller (rev 06)
  - VGA compatible controller: Intel Corporation HD Graphics 530 (rev 06)
  - VGA compatible controller: Advanced Micro Devices, Inc. [AMD/ATI] Wani 
 [Radeon R5/R6/R7 Graphics] (rev c8)
  - 3D controller: NVIDIA Corporation GV100GL [Tesla V100S PCIe 32GB] (rev a1)


