.debhelper/
debhelper-build-stamp
files
*.substvars
glgrib-data/
glgrib-doc/
glgrib-testdata/
glgrib-egl/
glgrib-glfw/
glgrib-shaders/
libglgrib-egl0/
libglgrib-glfw0/
liblfi0/
libglgrib-egl-dev/
libglgrib-glfw-dev/
libglgrib-headers/
liblfi-dev/
libglgrib-glfw-perl/
glgrib-tk/
python3-glgrib-glfw/
