Source: glgrib
Maintainer: Philippe Marguinaud <pmarguinaud@hotmail.com>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: g++, git, make, libcurl4-openssl-dev, libeccodes-dev, libegl-dev, libglew-dev, libglfw3-dev, libnetcdf-c++4-dev, libpng-dev, libreadline-dev, libshp-dev, libsqlite3-dev, libssl-dev, libglm-dev

Package: glgrib
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Display geophysical fields encoded in GRIB edition 2 using OpenGL rendering.

