Source: glgrib-data
Maintainer: Philippe Marguinaud <pmarguinaud@hotmail.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: make (>= 4.2.1), debhelper (>= 12.10)

Package: glgrib-data
Architecture: any 
Depends: ${misc:Depends}
Description: Data for glgrib.
 Coastlines databases and background landscape images. 

