Source: glgrib-test
Maintainer: Philippe Marguinaud <pmarguinaud@hotmail.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: make (>= 4.2.1), debhelper (>= 12.10)

Package: glgrib-test
Architecture: any 
Depends: ${misc:Depends}
Description: Test data for glgrib.
 Files for running glgrib tests.


